<section class="page-home" ng-controller= "HomeCtrl">

    <div class="home-header cover-1" >
        <div class="home-top">
            <div class="home-title">
                <h1>ArtFit:</h1>
                <h1>Первый в Мире Фитнес навигатор</h1>                
            </div>
            <button id="RegisterButton" class="btn registerbutton "  ng-click="register()" ng-show="!isLoggedIn()">                
                Зарегистрироваться
            </button>
        </div>
    </div>
</section>