<section class="main-content" ng-controller="ProgrammDashboardController">
	<div class="page-object vcard">
		<div class="object-header">
			<div class="top">
				<div style="position:absolute; right:0px; top:10px; font-size:20px">AFS 3000 (10000)</div>
				<div class="title">
					<h1>
						Программа: Потеря веса
					</h1>
				</div>

				<div class="categories">
					Задача потерять 10 кг.
				</div>
			</div>
			
		</div>
		<div class="object-header">
			<div style="width:100%; clear: both;background-color: #df4852; height:35px; overflow:hidden ">
				<div style="color:#ffffff; font-size:20px; font-weight:bold; padding-top:7px; padding-left:10px">Вы пропустили 2 теренеровки!</div>
			</div>
		</div>

		<div class="content-session">
					<header >
						<span class="h4">Расписание Тренировок</span>
					</header>
					<article class="border-bottom">
					
						<header>
							<span class="h4"><span class="afs-count">450</span> Тренировка день 1</span>
							<span class="session-time">23.12.2015</span>

						</header>
						<section>							
								<div>Велотренажер: 20 мин. Пульс 145-150 уд./мин </div>
								<div>5 Подходов</div>
								<div>Приседание со штангой</div>
								<div>Выпады со штангой</div>
								<div>Жим ногами в тренажере</div>
								<div>Жим ногами в тренажере</div>
								<div>Жим ногами в тренажере</div>
								<div>Жим ногами в тренажере</div>
							
						</section>						
					</article>
					<article class="border-bottom" ng-click="">
						<span style="position:absolute; bottom:4px;right:0; color:#df4852">Изменение</span>
						<header>
							<span class="h4"><span class="afs-count">450</span> Тренировка день 2</span>
							<span class="session-time">25.12.2015</span>

						</header>
						<section>							
								<div>Велотренажер: 20 мин. Пульс 145-150 уд./мин </div>
								<div>5 Подходов:</div>
								<div>Гантели</div>
							
						</section>						
					</article>
				</div>

	</div>
</section>