
<section class="main-content" ng-controller="ProgrammDashboardController">
	<div class="page-object vcard">
		<div class="object-header">
			<div class="top">
				<div class="title">
					<h1>
						Потерять в весе 10кг.
					</h1>
				</div>
				<div class="categories">
					задача потерять в весе 10 кг.
				</div>
			</div>
			
		</div>
		<div class="object-header">
			<div style="width:100%; clear: both;background-color: #df4852; height:35px; overflow:hidden ">
				<div style="color:#ffffff; font-size:20px; font-weight:bold; padding-top:7px; padding-left:10px">Вы пропустили 2 теренеровки!</div>
			</div>
		</div>

		<div class="left-col">
			<div class="content-part part-main">
				<div class="part-main">
					<div class="content-item border-bottom">
						<header class="statistics">
							<strong class="h4">
								Статистика
							</strong>
							<span>Тренировок пройдено: 5</span> 
							<span>Дней осталось: 30</span> 
							<span>AFS в день: 100</span>
						</header>
					</div>
					<div class="content-item border-bottom">
						<div style="display:block;content: ' '; overflow:hidden">
							<div class="h4" style="float:left;">
								Следующая тренировка
							</div>
							<div style="float:right;">
								11:00 19.12.2015
							</div>
						</div>
						<div Style="float:left;">
							<p>Краткое Описание тренеровки</p>
						</div>

						<div class="float:right;">
							<a class="btn btn-regular btn-red" hg-href="/" href="/" style="display: inline-block; float:right;">Start</a>
						</div>
						<div class="float:right;">
							<a class="btn btn-regular btn-light-gray" hg-href="/" href="/" style="display: inline-block; float:right;margin:0 5px 0 5px;">Отчет</a>
						</div>
					</div>

				</div>
			</div>
			<div class="content-program">
				<div class="program-title" ng-click="openProgramDetails()">
					
					<header>

						<span class="h4">Программа: Потеря веса</span>
					</header>
					<article>Полное описание программы</article>
					
				</div>
				<div class="content-session">
					<header >
						<span class="h4">Расписание Тренировок</span>
					</header>
					<article class="border-bottom">
					
						<header>
							<span class="h4"><span class="afs-count">450</span> Тренировка день 1</span>
							<span class="session-time">23.12.2015</span>

						</header>
						<section>							
								<div>Велотренажер: 20 мин. Пульс 145-150 уд./мин </div>
								<div>5 Подходов</div>
								<div>Гантели</div>
							
						</section>						
					</article>
					<article class="border-bottom" ng-click="">
						<span style="position:absolute; bottom:4px;right:0; color:#df4852">Изменение</span>
						<header>
							<span class="h4"><span class="afs-count">450</span> Тренировка день 2</span>
							<span class="session-time">25.12.2015</span>

						</header>
						<section>							
								<div>Велотренажер: 20 мин. Пульс 145-150 уд./мин </div>
								<div>5 Подходов:</div>
								<div>Гантели</div>
							
						</section>						
					</article>
				</div>
			</div>
		</div>
		<div class="right-col">
			<div class="content-part part-info">
				<div class="content-item">
					<div>
						<h2 class="h3">
							Current: 3000
						</h2>
					</div>
					<h2 class="h4">
						Total: 10,000
					</h2>
					<div style="display:block; border: 1px solid #b9b9b9; float:left; height: 22px; width:50px; background-color:#337ab7"></div>
					<div style="display:block; border: 1px solid #b9b9b9; float:left; height: 22px; width:150px; background-color:#FFFFFF"></div>
				</div>
			</div>
			<div class="content-part part-info">
				<div class="content-item">
					<strong class="h4"> Тренер</strong>
					<div style="width:120px; height:150px; background-color:#909090;"></div>
						<span>Тихомиров</span>
				</div>
				<div class="content-item">
					Сообщения
				</div>
			</div>
		</div>
		
		
	</div>
</section>
