<div class="row" >
    <div class="col-lg-12" data-ng-controller="StatsCtrl">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Your Details</strong>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div> 

    <div class="col-lg-12">       
        <div class="panel-heading">
                <strong>Statistics</strong>
        </div>
        <div class="panel-body">                    
            <div ng-repeat="item in data.items">
                {{item}}
            </div>
        </div>
    

    </div>

</div>
