<!DOCTYPE html>
<html ng-app="ArtFitAngular" lang="en" class="has-mobile-holder  ng-scope" ng-class="{ overflowed: mapExpanded,'top-animated': topAnimated,'left-panel-expanded': isMobile &amp;&amp; menuOpened,'filters-panel-expanded': isMobile &amp;&amp; filtersOpened }">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>ArtFit</title>

        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.css">
        <link href="/css/artfitstyles.css" rel="stylesheet" type="text/css">

    </head>

    <body  ng-controller="MainController" layout="column">

      <md-toolbar layout="row" style="height:60px;" ng-controller="TopPanelController">
        <md-button class="menu" hide-gt-sm ng-click="toggleList()" ng-show="isLoggedIn()" class="md-icon-button md-primary">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <md-button ng-click='go("#/")'>ArtFit</md-button>
        <span flex></span>

        

          <md-button ng-show="isLoggedIn()" class="" ng-click='go("/#/me")'>
          <span>Мой профиль</span>
          </md-button>
          <md-button ng-show="isLoggedIn()" class="" ng-click="logoutUser()">Выход</md-button>
          <md-button ng-show="!isLoggedIn()" class="" ng-click="go('#/signin')" href="#/signin">Войти</md-button>
        
      </md-toolbar>

      <div flex layout="row">

        <!-- Side Menu -->
        <md-sidenav class="md-whiteframe-z1" layout="column" md-is-locked-open="$mdMedia('gt-sm')" 
            md-component-id="left" ng-click="ul.toggleList()" ng-show="isLoggedIn()" layout-align="left">

          <md-button class="menu" hide-gt-sm ng-click="toggleList()" >
            <md-icon md-svg-icon="menu" ></md-icon>
          </md-button>
              <md-button ng-href="#/program" class="sidenav-button" id="qa_section_10" href="#/program" >                
                <img src="/img/activity-32.png" class="lw-section-icon icon"></img>
                <span class="ng-binding">Клиенты</span>
              </md-button>

              <md-button ng-href="#/coach" class="sidenav-button"  id="qa_section_11" ng-class="{ active: section.id == currentSection }" href="/">
                <img src="/img/training-32.png" class="lw-section-icon icon"></img>
                <span class="ng-binding">Программы</span>
              </md-button>
              <md-button ng-href="#/training" class="sidenav-button"  id="qa_section_11" ng-class="{ active: section.id == currentSection }" href="/">
                <img src="/img/training-32.png" class="lw-section-icon icon"></img>
                <span class="ng-binding">Упражнения</span>
              </md-button>
              <md-button ng-href="#/stats" class="sidenav-button"  id="qa_section_11" ng-class="{ active: section.id == currentSection }" href="/">
                <img src="/img/statistics-32.png" class="lw-section-icon icon"></i>
                <span class="ng-binding">Сообщения</span>
              </md-button>
              <md-button ng-href="#/coach-home" class="sidenav-button"  id="qa_section_11" ng-class="{ active: section.id == currentSection }" href="/">
                <img src="/img/statistics-32.png" class="lw-section-icon icon"></i>
                <span class="ng-binding">Как это работает</span>
              </md-button>
        </md-sidenav>

        <!-- Main content-->
        <md-content flex id="content" ng-view="" layout-padding>

        </md-content>

      </div>




      <!-- Angular Material requires Angular.js Libraries -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

      <!-- Angular Material Library -->
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>

      <script src="/lib/ngStorage.js"></script>
      <script src="/lib/loading-bar.js"></script>
      <script src="/scripts/app.js"></script>
      <script src="/scripts/controllers.js"></script>
      <script src="/scripts/services.js"></script>
      <script src="/scripts/statscontroller.js"></script>
      <script src="/scripts/jawbone.js"></script>
      <script src="/scripts/fitbit.js"></script>

    </body>
</html>